{% macro render_form(url, genres, movie={}, movie_genres={}) %}
<div class="container">
    
    <h2 class="my-3 text-center text-uppercase font-weight-bold">{% if request.endpoint == 'movies.new'%} Добавление фильма {% else %} Редактирование фильма {% endif %}</h2>
    
    <form method="POST" action="{{ url }}" enctype="multipart/form-data">
        <div class="form-group row">
            <div class="col-md-6 d-flex flex-column">
                <input class="form-control" type="text" name="movie_genres.movie_id" id="movie_genres.movie_id" hidden>
                <div class="form-group">
                    <label for="name">Название</label>
                    <input class="form-control" type="text" name="name" id="name" value="{{ movie.name or ''}}">
                </div>
                <div class="form-group">
                    <label for="production_year">Год производства</label>
                    <input class="form-control" type="text" name="production_year" id="production_year" value="{{ movie.production_year or ''}}">
                </div>
                <div class="form-group">
                    <label for="genre_id">Жанры</label>
                    <select class="form-control selectpicker" data-live-search="true"  name="genre_id" id="genre_id" multiple>
                        {% for genre in genres %}
                            <option value="{{ genre.id }}" {% for mg in movie_genres %} {% if genre.id == mg.genre_id %} selected {% endif %} {% endfor %}>{{ genre.name }}</option>
                        {% endfor %}
                    </select>
                </div>


                <div class="form-group d-flex flex-column flex-grow-1">
                    <label for="country">Страна</label>
                    <input class="form-control flex-grow-1" name="country" id="country" cols="30" rows="2" value="{{ movie.country or ''}}">
                </div>
                <div class="form-group d-flex flex-column flex-grow-1">
                    <label for="director">Режисёр</label>
                    <input class="form-control flex-grow-1" name="director" id="director" cols="30" rows="2" value="{{ movie.director or ''}}">
                </div>
                <div class="form-group d-flex flex-column flex-grow-1">
                    <label for="screenwriter">Сценарист</label>
                    <input class="form-control flex-grow-1" name="screenwriter" id="screenwriter" cols="30" rows="1" value="{{ movie.screenwriter or ''}}">
                </div>
                <div class="form-group d-flex flex-column flex-grow-1">
                    <label for="duration">Продолжительность</label>
                    <input class="form-control flex-grow-1" name="duration" id="duration" cols="30" rows="1" value="{{ movie.duration or ''}}">
                </div>
                <div class="form-group d-flex flex-column flex-grow-1">
                    <label for="actors">Актёры</label>
                    <textarea class="form-control flex-grow-1" name="actors" id="actors" cols="30" rows="2" >{{movie.actors or ''}} </textarea>
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column">
                <div class="form-group">
                    {% if request.endpoint == 'movies.new'%}
                    <label for="background_img">Постер</label>
                    <input class="form-control" type="file" name="background_img" id="background_img">
                    {% endif %}
                </div>
                <div class="form-group background-preview p-3 rounded d-flex align-items-center justify-content-center">
                    {% if request.endpoint == 'movies.new'%}
                    <img src="" class="img-fluid d-none" alt="">
                    <label for="background_img" class="btn btn-primary">Выбрать изображение</label>
                    {% else %}
                    <img src="{{ url_for('image', poster_id = movie.poster_id) }}" class="img-fluid" alt="">
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="description">Описание</label>
            <textarea class="form-control"  id="text-content" cols="30" rows="10" name="description" id="description" cols="30" rows="10" value="{{ movie.description or ''}}">{{ movie.description or ''}}</textarea>
        </div>

        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" value="Сохранить">
        </div>
    </form>
</div>

{% endmacro %}