{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}
{% block content %}


<div class="container-fluid">
    <div class="top-courses container-fluid my-5">

        <h2 class="mb-3 text-center text-uppercase font-weight-bold">Фильмы</h2>

        <div class="row no-gutters">
            {% for movie in movies %}
                <div class="col-lg-4 col-md-6">
                    <div class="row">
                    <div class="course text-center" style="background-image: url({{ url_for('image', poster_id=movie.poster_id) }});">
                        <a class="title" href="">
                            {{ movie.name }}
                        </a>
                        <p>{{ movie.movie_genres.id }}</p>
                        <div class="rating">
                            <span></span> <span>{{ movie.production_year }}</span>
                        </div>                                
                    </div>
                    </div>
                    <div class="row  p-1">
                        <div class="container text-center">
                    <a class="btn btn-sm btn-outline-dark mx-1" href="{{ url_for('movies.show', movie_id=movie.id) }}">Просмотр</a>
                    <a class="btn btn-sm btn-outline-primary mx-1" href="{{ url_for('movies.edit', movie_id=movie.id) }}">Редактировать</a>
                    <a class="btn btn-sm btn-outline-danger  mx-1" href="{{ url_for('movies.delete', movie_id=movie.id) }}">Удалить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="my-3 text-center">
            <a href="{{ url_for('movies.new') }}" class="btn btn-lg btn-outline-dark catalog-btn">Добавить фильм</a>
        </div>
    </div>
</div>
{{ render_pagination(pagination, request.endpoint) }}
{% endblock %}